<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/hos.css">
    <title>Health Service</title>
    <h4>Please sign up or log in to access your account</h4>
    <br>
    <br>
    <%=flash[:message]%>
    <br>
    <img class="img-hos" src="../images/hospital-2.jpg">

  </head>
    <body>
      <header>
        <div class="main">
          <ul>
            <li> <a href="/registrations/patient">Sign Up</a></li>
            <li> <a href="/login/patient">Login</a></li>
          </ul>
        </div>
      </header>
    </body>
</html>
