<%=flash[:message]%>
<br>
<br>
<h4>Please sign up or log in to access your account</h4>
<br>
<br>
<a href="/registrations/patient" class="btn">Sign Up</a>
<br>
<br>
<a href="/login/patient" class="btn">Login</a>
<br>
<br>
<a href="/sessions/logout" class="btn">logout</a>
