<%= flash[:message] %>
<br>
<br>
<h1>Sign Up Below:</h1>
<br>
<br>
<form method="POST" action="/registrations">

      <p>Name:<input type="text" name="name" id="name" required></p>
      <p>Email:<input type="text" name="email" id="email" required></p>
      <p>Password:<input type="text" name="password" id="password" required></p>
      <input type="submit" id="Sign Up">
    </form>
