<%=flash[:message]%>
<br>
<br>
<h4>Please sign up or log in to access your account</h4>
<br>
<br>
<a href="/registrations/doctor" class="btn">Sign Up</a>
<br>
<br>
<a href="/login/doctor" class="btn">Login</a>
<br>
<br>
<a href="/sessionss/logout" class="btn">logout</a>
<br>
