<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/hos.css">
      <title>Health Service</title>
      <h4>Please sign up or log in to access your account</h4>
      <br>
      <%=flash[:message]%>
      <br>
      <img class="img-hos" src="../images/hospital-2.jpg">
      <br>

    </head>
    <body>
      <header>
        <div class="main">
          <ul>
            <li> <a href="/registrations/doctor">Sign Up</a></li>
            <li> <a href="/login/doctor">Login</a></li>
            <li> <a href="/sessionss/logout">logout</a></li>
          </ul>
        </div>
      </header>
    </body>
</html>
