<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/hos.css">
        <title>Health Service</title>
        <h2>Welcome <%=@patient.name%> to Your Profile!</h2>
        <br>
        <%=flash[:message]%>
        <br>
        <img class="img-hos" src="../images/hospital-2.jpg">
    </head>
<body>
  <header>
    <div class="main">
      <ul>
        <li> <a href="/appointment">Make an Appointment</a></li>
        <br>
        <br>
        <li> <a href="/patient/view">View all Appointments</a> </li>
        <br>
        <br>
        <li> <a href="/patient/update">Update an Appointment</a> </li>
        <br>
        <br>
        <li> <a href="/patient/delete">Delete an Appointment</a> </li>
        <br>
        <br>
        <li> <a href="/logout">Logout</a> </li>
      </ul>
    </div>
  </header>
</body>
</html>
