<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/hos.css">
      <title>Health Service</title>
      <h1>Hello <%=@apt.doctor.name%></h1>
      <p>Update an existing appointment</p>
      <br>
      <img class="img-hos" src="/images/hospital-2.jpg">
      <br>
    </head>
      <body>
        <header>
          <div class="main">
            <form action="/appointmentss/<%= @apt.id %>" method="POST">
              <input id="hidden" type="hidden" name="_method" value="patch">
              <br>
              <p>Date:<input type="date" name="date" id="date" value="<%=@apt.date%>"></input></p>
              <br>
              <p>Time:<input type="time" name="time" id="time" value="<%=@apt.time.strftime("%I:%M %p")%>"></input></p>
              <br>
              <input type="submit" value="Update appointment">
            </form>
          </div>
        </header>
      </body>
  </html>
