<h1>The information of this appointment :</h1>
  <h1>Patient Name : <%=@apt.patient.name%> </h1>
  <br>
  <h1>Doctor Name: <%=@apt.doctor.name %> </h1>
  <br>
  <h1>Appt time: <%= @apt.time%> </h1>
  <br>
  <h1>Appt date: <%= @apt.date%> </h1>
