<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/hos.css">
        <title>Health Service</title>
        <h2>Welcome to our Application!</h2>
        <h4>Please sign up or log in to access your account</h4>
        <br>
        <img src="images/hospital-2.jpg">
    </head>
<body>
  <header>
    <div class="main">
      <ul>
        <li> <a href="/home/doctor">Doctor</a></li>
        <li> <a href="/home/patient">Patient</a></li>
    </div>
  </header>
</body>
</html>
