<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to our Application!</h2>
    <h4>Please sign up or log in to access your account</h4>
    <a href="/home/doctor">Doctor</a>
    <a href="/home/patient">Patient</a>


  </div>
</div>
